.cardT {
  background-color: rgb(219, 211, 212);
  border: 2px ol;
  display: grid;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

#prueba {
  width: 150px;
}

#card-img {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

:root {
  --clr-black: #1c1c1c;
  --clr-gray: #ececec;
  --cl-white: #f7f7f7;
  --type-normal: #a8a878;
  --type-fire: #f08030;
  --type-water: #6890f0;
  --type-grass: #78c850;
  --type-electric: #f8d030;
  --type-ice: #98d8d8;
  --type-figthing: #c03028;
  --type-poison: #a040a0;
  --type-ground: #e0c068;
  --type-flying: #a890f0;
  --type-psychic: #f85888;
  --type-bug: #a8b820;
  --type-rock: #b8a038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038f8;
  --type-steel: #b8b8d0;
  --type-fairy: #f0b6bc;
}

.normal {
  background-color: var(--type-normal);
  color: var(--clr-black);
}

.fire {
  background-color: var(--type-fire);
  color: var(--cl-white);
}

.water {
  background-color: var(--type-water);
  color: var(--cl-white);
}

.grass {
  background-color: var(--type-grass);
  color: var(--cl-white);

  display: grid;
  justify-content: center;
}

.electric {
  background-color: var(--type-electric);
  color: var(--cl-white);
}

.ice {
  background-color: var(--type-ice);
  color: var(--cl-white);
}

.fighting {
  background-color: var(--type-figthing);
  color: var(--cl-white);
}

.poison {
  background-color: var(--type-poison);
  color: var(--cl-white);
}

.ground {
  background-color: var(--type-ground);
  color: var(--cl-white);
}

.flying {
  background-color: var(--type-flying);
  color: var(--cl-white);
}

.psychic {
  background-color: var(--type-psychic);
  color: var(--cl-white);
}

.bug {
  background-color: var(--type-bug);
  color: var(--cl-white);
}

.rock {
  background-color: var(--type-rock);
  color: var(--cl-white);
}

.dark {
  background-color: var(--type-dark);
  color: var(--cl-white);
}

.ghost {
  background-color: var(--type-ghost);
  color: var(--cl-white);
}

.dragon {
  background-color: var(--type-dragon);
  color: var(--cl-white);
}

.steel {
  background-color: var(--type-steel);
  color: var(--cl-white);
}

.fairy {
  background-color: var(--type-fairy);
  color: var(--cl-white);
}

#typeB {
  cursor: pointer;
  text-decoration: none;
}
